<div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4" style="margin-top:30px">
                <img class="img-responsive" src="images/SI_name.svg" alt="Speaking Images Private Limited">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4" style="margin-top:30px">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 style="font-family:cursive">REGISTER</h4>
                    </div>
                    <div class="panel-body">
                        <form name="registerForm" ng-submit="submit(registerForm.$valid)" ng-controller="registerController" novalidate>
                            <div class="form-group" ng-class="{'has-error':registerForm.name.$invalid && !registerForm.name.$pristine}">
                                <label class="sr-only" for="name">Name:</label>
                                <input class="form-control" ng-model="user.name" type="text" name="name" id="name" placeholder="Enter Name" required>
                                <p ng-show="registerForm.name.$invalid && !registerForm.name.$pristine" class="help-block">Name is required</p>
                            </div>
                            <div class="form-group" ng-class="{'has-error':registerForm.email.$invalid && !registerForm.email.$pristine}">
                                <label class="sr-only" for="email">Email Address:</label>
                                <input class="form-control" ng-model="user.email" type="email" name="email" id="email" placeholder="Enter Email" required>
                                <p ng-show="registerForm.email.$invalid && !registerForm.email.$pristine" class="help-block">Enter valid email address</p>
                            </div>
                            <div class="form-group" ng-class="{'has-error': registerForm.phone.$invalid && !registerForm.phone.$pristine}">
                                    <label class="sr-only" for="phone">Phone Number:</label>
                                    <input class="form-control" ng-model="user.phone" type="tel" name="phone" id="phone" ng-minlength="10" ng-maxlength="10" placeholder="Enter Phone Number">
                                    <p ng-show="registerForm.phone.$invalid && !registerForm.phone.$pristine"></p>
                                </div>
                            <div class="form-group" ng-class="{'has-error': registerForm.password.$invalid && !registerForm.password.$pristine}">
                                <label class="sr-only" for="password">Passowrd:</label>
                                <input class="form-control" ng-model="user.password" type="password" name="password" id="password" placeholder="Password" ng-minlength="8" required>
                                <p ng-show="registerForm.password.$error.minlength" class="help-block">Password is too short</p>
                            </div>
                            <button type="submit" class="btn btn-info btn-block" ng-disabled="registerForm.$invalid">Submit</button>
                            <div class="text-center">
                                <div class="divider-line">
                                    <div class="divider-text">Already a User?</div>
                                </div>
                                <a ui-sref="login">Sign In</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>